body {
    background: #050713;
    color: white;
    margin: 0;
    padding: 0;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.title {
    margin-left: 1rem;
    margin-right: 1rem;
    position: relative;
    background: #161b3a;
    border-radius: 0.5rem;
    box-shadow: black 0 0 0.8rem;
    transition: all 0.25s ease;
    user-select: none;
}

.title h1 a {
    text-decoration: none;
    color: white;
    padding: 0;
    margin: 0;
}

.title h1 a:hover {
    color: darkgray;
    transition: all 0.25s ease;
}

.title h1 {
    font-size: 2rem;
    padding: 1rem;
}

.title .links {
    position: absolute;
    font-size: 1.5rem;
    top: 1.25rem;
    right: 0.5rem;
}

.title .links a {
    text-decoration: none;
    transition: none;
    color: darkgray;
    padding: 1.25rem 0.5rem 1.25rem 0.5rem;
}

.title .links a:hover {
    color: black;
    background: white;
}

.title .links a.nexus-link:hover {
    color: white;
    background: linear-gradient(45deg, #5a88ff, #376fff);
}

.title .links a.pictures-link:hover {
    color: black;
    font-weight: 500;
    background: linear-gradient(45deg, #37ff94, #8bd39f);
}

.title .links a.projects-link:hover {
    color: white;
    background: linear-gradient(45deg, #8100ff, #a041ff);
}

.title .menu {
    display: none;
    font-size: 2rem;
}

.title .menu i {
    font-size: 3rem;
    padding: 0.5rem;
    position: absolute;
    right: 0.25rem; top: 0.125rem;
}

.title .menu #links {
    display: none;
    position: absolute;
    background: #161b3a;
    right: 1rem; top: 4.75rem;
    padding: 1rem;
    width: calc(9rem);
    text-align: center;
    border-radius: 0.5rem;
    box-shadow: black 0 0 0.8rem;
}

.title .menu #links a {
    text-decoration: none;
    color: lightgray;
}

.title .menu #links a:hover {
    text-decoration: none;
    color: white;
    transition: all 0.25s ease;
}

.title .menu #links.active {
    display: inherit;
}

.title .menu i {
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .title {

    }

    .title .links {
        display: none;
    }

    .title .menu {
        display: inherit;
    }
}