body {
    background: #050713;
    color: white;
    margin: 0;
    padding: 0;
    font-family: LTHoopRegular, serif;
}

@font-face {
    font-family: LTHoopRegular;
    src: url("../fonts/lthoop-regular.ttf");
}

.title {
    margin: 1rem;
    position: relative;
    background: #161b3a;
    border-radius: 0.5rem;
    box-shadow: black 0 0 0.8rem;
    transition: all 0.25s ease;
    user-select: none;
}

.title .logo {
    display: flex;
    height: 4rem;
}

.title .logo img {
    position: absolute;
    padding: 0.5rem;
    margin: 0;
    height: 3rem;
}

.title .logo h1 a {
    text-decoration: none;
    color: white;
    padding: 0;
    margin: 0;
}

.title .logo h1 a:hover {
    color: darkgray;
    transition: all 0.25s ease;
}

.title .logo h1 {
    position: absolute;
    left: 4rem; top: -0.4rem;
}

.title .links {
    position: absolute;
    font-size: 1.5rem;
    top: 1.2rem;
    right: 0.4rem;
}

.title .links a {
    text-decoration: none;
    transition: none;
    color: darkgray;
    padding: 1rem;
    border-radius: 0.5rem;
}

.title .links a:hover {
    color: black;
    background: white;
}

.title .links a.nexus-link:hover {
    color: white;
    background: linear-gradient(45deg, #5a88ff, #376fff);
}

.title .links a.pictures-link:hover {
    color: black;
    font-weight: 500;
    background: linear-gradient(45deg, #37ff94, #8bd39f);
}

.title .links a.projects-link:hover {
    color: white;
    background: linear-gradient(45deg, #8100ff, #a041ff);
}

.title .menu {
    display: none;
    font-size: 2rem;
}

.title .menu i {
    font-size: 3rem;
    padding: 0.5rem;
    position: absolute;
    right: 0.25rem; top: 0;
    transition: all 0.25s linear;
}

.title .menu i#toggle-on {
    display: none;
}

.title .menu #links {
    display: none;
    position: absolute;
    background: #161b3a;
    right: 0; top: 5rem;
    width: calc(9rem);
    border-radius: 0.5rem;
    box-shadow: black 0 0 0.8rem;
    padding: 1rem;
    text-align: center;
}

.title .menu #links a {
    text-decoration: none;
    color: lightgray;
}

.title .menu #links a:hover {
    text-decoration: none;
    color: white;
    transition: all 0.25s ease;
}

.title .menu #links.active {
    display: inherit;
}

.title .menu i {
    cursor: pointer;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 2rem 0 1rem 0;
    background: linear-gradient(#050713,black,black);
    user-select: none;
}

.footer * {
    padding: 0 1rem 0 1rem;
}

.footer .lawstuff {
    display: flex;
    align-content: center;
    justify-content: center;
    color: gray;
    padding: 0.5rem;
    font-size: 1.1rem;
}

.footer .copyright {
    display: flex;
    align-content: center;
    justify-content: center;
    color: darkgray;
}

.footer a {
    padding: 0 0.25rem 0 0.25rem;
    color: lightgray;
    text-decoration: none;
}

.footer a:hover {
    color: white;
    transition: all 0.25s ease;
}

@media only screen and (max-width: 768px) {
    .title .links {
        display: none;
    }

    .title .menu {
        display: inherit;
    }
}

@media only screen and (min-width: 768px) {
    .title {
        margin-right: 5rem;
        margin-left: 5rem;
    }
}

@media only screen and (min-width: 1000px) {
    .title {
        margin-right: 7rem;
        margin-left: 7rem;
    }
}

@media only screen and (min-width: 1200px) {
    .title {
        margin-right: 10rem;
        margin-left: 10rem;
    }
}

@media only screen and (min-width: 1500px) {
    .title {
        margin-right: 13rem;
        margin-left: 13rem;
    }
}

@media only screen and (min-width: 1920px) {
    .title {
        margin-right: 15rem;
        margin-left: 15rem;
    }
}