* {
    scroll-behavior: smooth;
}

body {
    background: #050713;
    color: white;
    margin: 0;
    padding: 0;
    font-family: LTHoopRegular, serif;
}

@font-face {
    font-family: LTHoopRegular;
    src: url("../fonts/lthoop-regular.ttf");
}

.title {
    z-index: 1;
    margin: 1rem;
    position: fixed;
    top: 0; left: 0; right: 0;
    background: rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(10px);
    box-shadow: #00000090 0 0 0.4rem;
    border-radius: 0.5rem;
    transition: all 0.25s ease;
    user-select: none;
}

.title .logo {
    display: flex;
    height: 4rem;
}

.title .logo img {
    position: absolute;
    padding: 0.5rem;
    margin: 0;
    height: 3rem;
}

.title .logo h1 a {
    text-decoration: none;
    color: white;
    padding: 0;
    margin: 0;
}

.title .logo h1 a:hover {
    color: darkgray;
    transition: all 0.25s ease;
}

.title .logo h1 {
    position: absolute;
    left: 4rem; top: -0.4rem;
}

.title .links {
    position: absolute;
    font-size: 1.5rem;
    top: 1.2rem;
    right: 0.4rem;
}

.title .links a {
    text-decoration: none;
    transition: none;
    color: white;
    padding: 1rem;
    border-radius: 0.5rem;
}

.title .links a:hover {
    color: #ffffff;
    background: #ffffff20;
    backdrop-filter: blur(10px);
}

.title .menu {
    display: none;
    font-size: 2rem;
}

.title .menu i {
    font-size: 3rem;
    padding: 0.5rem;
    position: absolute;
    right: 0.25rem; top: 0;
    transition: all 0.25s linear;
}

.title .menu i#toggle-on {
    display: none;
}

.title .menu #links {
    display: none;
    position: absolute;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: #00000090 0 0 0.4rem;
    right: 0; top: 5rem;
    width: calc(9rem);
    border-radius: 0.5rem;
    padding: 1rem;
    text-align: center;
}

.title .menu #links a {
    text-decoration: none;
    color: #ffffff;
}

.title .menu #links a:hover {
    text-decoration: none;
    color: gray;
    transition: all 0.25s ease;
}

.title .menu #links.active {
    display: inherit;
}

.title .menu i {
    cursor: pointer;
}

.footer {
    bottom: -5.55rem;
    z-index: 1;
    width: 100%;
    padding: 1rem 0 1rem 0;
    background: #000000;
    box-shadow: #00000090 0 0 0.4rem;
    user-select: none;
}

.footer * {
    padding: 0 1rem 0 1rem;
}

.footer .lawstuff {
    display: flex;
    align-content: center;
    justify-content: center;
    color: gray;
    padding: 0.5rem;
    font-size: 1.1rem;
}

.footer .copyright {
    display: flex;
    align-content: center;
    justify-content: center;
    color: darkgray;
}

.footer a {
    padding: 0 0.25rem 0 0.25rem;
    color: lightgray;
    text-decoration: none;
}

.footer a:hover {
    color: white;
    transition: all 0.25s ease;
}

.content {
    z-index: 0;
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
}

p.article {
    text-align: center;
    font-size: 1.5rem;
    width: 100%;
    color: lightgray;
}

span.bold {
    font-weight: 1000;
}

.content .header {
    background-image: url("../../assets/images/falkenwacht-mountain-houses.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.content .header .header-content {
    text-align: center;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,#05071300,#050713);
}

.content .header .header-content a.start {
    font-size: 2rem;
    position: absolute;
    width: 100%;
    bottom: 3rem;
    left: 0;
}

.content .header .header-content a.start:hover {
    font-size: 3rem;
    transition: 0.25s;
    bottom: 2.25rem;
}

.content .header .header-content a {
    text-decoration: none;
    color: inherit;
}

.content .header .header-content a:hover {
    text-decoration: none;
    color: lightgray;
    transition: 0.25s;
}

@media only screen and (max-width: 768px) {
    .title .links {
        display: none;
    }

    .title .menu {
        display: inherit;
    }
}

@keyframes moveGradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 200% 50%;
    }
}

.headline {
    padding-top: 1rem;
    text-align: center;
}

*.s1 {
    font-size: 4rem;
}

*.s2 {
    font-size: 3.5rem;
}

*.s3 {
    font-size: 3rem;
}

*.s4 {
    font-size: 2.5rem;
}