.content .header {
    background: #0d112f;
    user-select: none;
}

.content .header .header-content {
    position: relative;
    background: linear-gradient(to bottom,#05071300,#05071300,#050713);
}

.content .main {
    background: #050713;
}

.card {
    background: #00050c;
    border: 1px solid #ffffff40;
}

.content .header .header-content .card {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    margin: 1rem;
}

.content .header .header-content .header-text {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    margin: 1rem;
}

.content .main .news {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
}

.footer {
    background: #050713;
    box-shadow: none;
}

.slideshow-container {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}