body {
    background: black;
    overflow: hidden;
}

* {
    user-select: none;
}

.app-titlebar {
    position: absolute;
    top: 0; left: 0; right: 0;
    display: flex;
    width: 100%;
    font-size: 1.25rem;
}

.app-titlebar .app-title {
    position: absolute;
    text-align: left;
    padding: 0.375rem;
}

.app-titlebar .app-buttons {
    position: absolute;
    width: calc(100% - 1rem);
    text-align: right;
    padding: 0.375rem;
}


.app-titlebar .app-buttons a {
    padding-left: 0.5rem;
    padding-right: 0.25rem;
}

iframe {
    position: absolute;
    left: 0; top: 2rem;
    width: 100%;
    height: calc(100% - 2rem);
    border: none;
}

.footer {
    position: absolute;
    top: 100%;
}